body {
    background-color: #FFEB27;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-template-rows: 350px 350px;
}

h1 {
    font-family: sans-serif;
    font-size: 25px;
}

.illustratie {
    margin: 0 auto;
}

#letter:hover,
#hand:hover,
#paperclip:hover,
#rits:hover,
#rits2:hover,
#ball:hover,
#speld:hover,
.ball:hover,
.ball2:hover,
.ball3:hover,
#speld:hover,
#vlek:hover,
#patroon:hover,
#hart:hover,
#logo:hover {
    fill: #460BFF;
}

#element9:hover {
    background-color: #460BFF;
}

article {
    display: grid;
}

/* letter */

#element1 {
    transform-origin: center;
}

#element1.is-active {
    animation: flip-scale-down-diag-2 1s alternate infinite cubic-bezier(.42, 0, .58, 1);
}

@keyframes flip-scale-down-diag-2 {
    0% {
        transform: scale(1) rotate3d(-1, 1, 0, 0deg);
    }

    50% {
        transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
    }

    100% {
        transform: scale(1) rotate3d(-1, 1, 0, -180deg);
    }
}

/* hand */

#element2 {
    transform-origin: center;
}

#element2.is-active {
    animation: vibrate 0.3s infinite;
}

@keyframes vibrate {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* paperclip */

#element3 {
    transform-origin: center;
}

#element3.is-active {
    animation: wobble 1.5s infinite;
}

@keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}


#element6 {
    transition: all .5s;
    transform-origin: center;
    width: 200px;
}

#element6.is-active {
    animation: shake .5s alternate infinite ease-in;
}

@keyframes shake {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(10deg);
    }
}

/* vlek */

#element7 {
    transform-origin: center;
}

#element7.is-active {
    animation: rotation 1.5s infinite cubic-bezier(0, 1.02, .26, -0.63);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#element9 {
    width: 180px;
    height: 180px;
    background-color: #000000;
}

#element9.is-active {
    animation: square-to-circle 1.5s infinite alternate;
}

@keyframes square-to-circle {
    0% {
        border-radius: 0 0 0 0;
    }

    25% {
        border-radius: 50% 0 0 0;
    }

    50% {
        border-radius: 50% 50% 0 0;
    }

    75% {
        border-radius: 50% 50% 50% 0;
    }

    100% {
        border-radius: 50%;
    }
}


.ball {
    transform-origin: center;

}

.ball.is-active {
    animation: bounce .3s alternate infinite ease-in;
}

.ball2.is-active {
    animation: bounce .3s alternate-reverse infinite ease-in;
}

.ball3.is-active {
    animation: bounce .2s alternate-reverse infinite ease-in;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 50px, 0);
    }
}

#element4 {
    clip-path: circle(120px at center);
}

#rits.is-active {
    animation: slide-vertical 1s alternate infinite ease-in;
}

#rits2.is-active {
    animation: slide-vertical 1s alternate-reverse infinite ease-in;
}

@keyframes slide-vertical {
    from {
        transform: translate3d(0%, -50%, 0);
    }

    to {
        transform: translate3d(0%, 0, 0);
    }
}


#element8 {
    position: absolute;
    clip-path: polygon(25% 0%, 0% 100%, 50% 100%);
}

#patroon.is-active {
    animation: slide-horizontal 1s alternate infinite ease-in;
}

@keyframes slide-horizontal {
    from {
        transform: translate3d(-50%, 0, 0);
    }

    to {
        transform: translate3d(0%, 0, 0);
    }
}


#element10 {
    transform-origin: center;

}

#element10.is-active {
    animation: heartbeat .5s alternate infinite ease-in;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.7);
    }
}

#element11.is-active {
    animation: flash 2s infinite;
}

@keyframes flash {

    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}